.fon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 14vh;
    width: 100%;
    background: url('Img/fon1.jpg');
    background-size: cover;
}
.logo {
    /*padding: 25vh 0;*/
    display: flex;
    flex-direction: column;
    line-height: 1em;
}
.title {
    font-size: 26px;
    text-align: center;
    font-weight: bolder;
    color: hsl(0, 0%, 3%);
    text-shadow: -1px -1px 0 hsl(228, 2%, 60%),
    -2px -2px 1px hsl(228, 2%, 60%);
       
}

.big_title{
    font-size: 50px;
    color: hsl(214, 80%, 52%);
    text-align: center;
    font-weight: bold;
    text-shadow: -1px -1px 0 hsl(239, 83%, 16%),
             -2px -2px 1px hsl(239, 83%, 16%);
   
}
.title1{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    color: hsl(116, 52%, 35%);
    text-shadow: -1px -1px 0 hsl(180, 2%, 10%),
    -2px -2px 1px hsl(180, 2%, 10%); 
    border: 0vh
}
.image{
    margin-top: 20px;
    margin-left: 0px;

}
.logo2{
    margin-top: 20px;
}
.menu {
    position: relative;
    z-index: 2;
    padding: 0 148px;
    margin-top: 30px;
}
.btn-info {
    color: #fff;
    background-color: #04282e;
    border-color: #04282e;
}
.avtor  {
    background: rgb(235, 229, 229);
    font-weight: bolder;
}
.title2{
    font-size: 15px;
    text-align: center;
    color: hsl(120, 3%, 45%);
    margin-top: 20px;
    margin-left: 120px;
}

.post span {
    color: #fff;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.54);
    position: absolute;
    top: calc(70% - 25px);
    padding: 5px;
    width: 100%;
    text-align: center;
}
.container {
    padding-top: 50px;
}

H1 {
    overflow: hidden;
    text-shadow: 0 0 tomato,
                 0 0 yellowgreen,
                 0 0 skyblue;
    color: transparent;
    transition: all 1s;
    }
    H1:hover {
      text-shadow: -400px 0 tomato,
                   400px 0 yellowgreen,
                   0 0 skyblue;
      }