.fon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 14vh;
    width: 100%;
    background: url('Img/Fon1.jpg');
    background-size: cover;
}

body {
    background: url('Img/trava2.jpg');
    background-size: cover;
}

.logo {
    /*padding: 25vh 0;*/
    display: flex;
    flex-direction: column;
    line-height: 1em;
}

.title {
    font-size: 26px;
    text-align: center;
    font-weight: bolder;
    color: hsl(0, 0%, 3%);
    text-shadow: -1px -1px 0 hsl(228, 2%, 60%),
    -2px -2px 1px hsl(228, 2%, 60%);
}

.big_title {
    font-size: 50px;
    color: hsl(214, 80%, 52%);
    text-align: center;
    font-weight: bold;
    text-shadow: -1px -1px 0 hsl(239, 83%, 16%),
             -2px -2px 1px hsl(239, 83%, 16%);
}

.title1 {
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    color: hsl(116, 53%, 24%);
    text-shadow: -1px -1px 0 hsl(180, 2%, 10%),
    -2px -2px 1px hsl(180, 2%, 10%); 
    border: 0vh;
}

.image {
    margin-top: 20px;
    margin-left: 0px;
}

.logo2 {
    margin-top: 20px;
}

.menu {
    position: relative;
    z-index: 2;
    padding: 0 148px;
    margin-top: 30px;
}

.btn-info {
    color: #fff;
    background-color: #04282e;
    border-color: #04282e;
}
.avtor {
    background: rgb(235, 229, 229);
    font-weight: bolder;
}

.title2 {
    font-size: 15px;
    text-align: center;
    color: hsl(120, 3%, 45%);
    margin-top: 20px;
    margin-left: 120px;
}

.rc {
    justify-content: center;
    margin-top: 20px;
}

.post span {
    color: #fff;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.54);
    position: absolute;
    top: calc(70% - 25px);
    left: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    z-index: 2;
    cursor: pointer;
}

.container {
    padding-top: 50px;
}

H1 {
    overflow: hidden;
    text-shadow: 0 0 rgb(228, 38, 5),
                 0 0 rgb(115, 172, 2),
                 0 0 rgb(5, 152, 211);
    color: transparent;
    transition: all 1s;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
}
    H1:hover {
    text-shadow: -400px 0 rgb(243, 40, 4),
                  400px 0 rgb(117, 172, 7),
                  0 0 rgb(5, 152, 211);
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

img {
    max-width: 100%
}

.carousel-item {
    width: 100%; 
    height: 500px;
    padding-left: 50px;
}

.map {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 500px;
    padding: 20px 0;
    margin: 0 auto;
}

.bloc {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 1000px;
    padding: 20px 0;
    margin: 0 auto;
}

.carousel-control-prev {
    padding-top: 50%;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 1000px;
    padding: 20px 0;
    margin: 0 auto;
}

.text {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.img-s {
    float:left; 
    margin: 10px 20px 10px 0;
    align: left; 
    box-shadow: 0 0 5px 2px; 
}

.info_text {
    color: white;
    text-shadow: 1px 1px #732372, 1px -1px #732372, -1px 1px #732372, -1px -1px #732372, 3px 3px 6px rgba(0,0,0,.5);
    font-weight: 700;
    margin: 20px 0;
    font-size: 36px;
    justify-content: center;
    text-align: center;
}

.more_information > .info_line:nth-child(even) {
    background: #f2f2f2;
}

.info_line span {
    font-size: 18px;
    font-weight: bold; 
}

.info_line span:first-child {
    display: inline-block;
    font-weight: 600;
    padding: 15px;
    margin-right: 15px;
    width: 200px;
    border-right: 1px solid #dedede;
}


